<%= form_for [@user, @time_sheet, @entry], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :hours, :step => 'any', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_time_sheet_entries_path, :class => 'btn' %>
  </div>
<% end %>
