<%- model_class = Entry -%>
<% provide(:title, "Hours for Time Sheet ##{@time_sheet.id}") %>
<div class="page-header">
  <h1>Hours for <%= link_to "#{@user.first_name} #{@user.last_name}", user_time_sheets_path(@user) %> <%= "Time Sheet ##{@time_sheet.id}" %></h1>
  <h3>
    Paid: <%= yesno @time_sheet.paid %>
    <% if @time_sheet.paid %>
    <br>Date Paid: <%= @time_sheet.date_paid %>
  <% end %>
  </h3>
  
  <% if @time_sheet.notes %>
    <p><%= @time_sheet.notes %></p>
  <% end %>
  <% if can? :edit, @time_sheet %>
    <p><%= link_to 'Edit Time Sheet', edit_user_time_sheet_path(@user, @time_sheet), :class => 'btn btn-mini' %></p>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:hours) %></th>
      <th><%= model_class.human_attribute_name(:project) %></th>
      <th><%= model_class.human_attribute_name(:hourly_rate) %></th>
      <th>Salary</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= nice_date entry.date %></td>
        <td><%= entry.hours %></td>
        <td><%= entry.project %></td>
        <td><%= number_to_currency(entry.hourly_rate) %></td>
        <td><%= number_to_currency(entry.hourly_rate * entry.hours) %></td>
        <td>
          <% if can? :update, entry %>
            <%= link_to 'Edit', edit_user_time_sheet_entry_path(@user, @time_sheet, entry), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, entry %>
            <%= link_to 'Delete',
                        user_time_sheet_entry_path(@user, @time_sheet, entry),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><b>Totals</b></td>
      <td><b><%= @time_sheet.total_hours %></b></td>
      <td></td>
      <td></td>
      <td><b><%= number_to_currency(@time_sheet.total_cash) %></b></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% if can? :create, @time_sheet.entries.new %>
  <%= link_to t('.add_new_hours', :default => t("helpers.links.add_new_hours")),
              new_user_time_sheet_entry_path,
              :class => 'btn btn-primary' %>
<% end %>
