<%- model_class = Entry -%>
<div class="page-header">
  <h1>Hours</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:time_sheet_id) %>:</strong></dt>
  <dd><%= @entry.time_sheet_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= nice_date @entry.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hours) %>:</strong></dt>
  <dd><%= @entry.hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project) %>:</strong></dt>
  <dd><%= @entry.project %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back To Time Sheet', user_time_sheet_entries_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_user_time_sheet_entry_path(@user, @time_sheet, @entry), :class => 'btn' %>
  <%= link_to 'Delete',
              user_time_sheet_entry_path(@user, @time_sheet, @entry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
