<%= form_for [@user, @time_sheet], :html => { :class => 'form-horizontal' } do |f| %>
<% if @time_sheet.errors.any? %>
    <div class="alert alert-error">
      <p><strong><%= pluralize(@time_sheet.errors.count, "error") %> prohibited the time sheet from being saved:</strong></p>
      <ul>
      <% @time_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :paid, :class => 'check_box' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_time_sheets_path(@user), :class => 'btn' %>
  </div>
<% end %>
