<%- model_class = TimeSheet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @time_sheet.user.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @time_sheet.user.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entries) %>:</strong></dt>
  <dd><%= link_to 'Entries', user_time_sheet_entries_path(@user, @time_sheet) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_hours) %>:</strong></dt>
  <dd><%= @time_sheet.total_hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid) %>:</strong></dt>
  <dd><%= @time_sheet.paid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @time_sheet.notes %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', user_time_sheet_entries_path(@user, @time_sheet), :class => 'btn'  %>
  <% if can? :update, @time_sheet %>
    <%= link_to 'Edit', edit_user_time_sheet_path(@user, @time_sheet), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @time_sheet %>
    <%= link_to 'Delete',
                user_time_sheet_path(@user, @time_sheet),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
  <%= link_to 'View All Time Sheets', user_time_sheets_path(@user), :class => 'btn'  %>
</div>
