<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Noble Desktop Hours Tracker" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand"><%= image_tag 'noble-icon.png' %> Hours Tracker<% if logged_in? %> - <%= current_user.first_name %> <%= current_user.last_name %><% end %></span>
          <div class="container">
            <ul class="nav pull-right">
              <% if logged_in? %>
                <% if can? :mange, :all %>
                  <li><%= link_to 'Call In Hours', call_in_hours_path %></li>
                  <li><%= link_to 'All Users', users_path %></li>
                <% end %>
                <li><%= link_to 'My Time Sheets', user_time_sheets_path(current_user) %></li>
                <li><%= link_to 'My Account', current_user %></li>
                <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "Log In", login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span9">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
              <%= yield %>
            </div>
            <div class="span3">
              <!-- <div class="well sidebar-nav">
                <h3>Sidebar</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li><%= link_to "Link1", "/path1"  %></li>
                  <li><%= link_to "Link2", "/path2"  %></li>
                  <li><%= link_to "Link3", "/path3"  %></li>
                </ul>
              </div> -->
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; Noble Desktop 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
